@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");

 a, h1, h4 {
  font-family: 'Segoe UI', sans-serif;                                               
}

body {
  background-color: #000202;
}

h1 {
  text-align: center;
  margin: 40px;
  color: white;
  text-decoration: underline;
}
h2 {
  margin: 40px;
  color: white;
}

.img-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  margin-left: 510px;
  margin-top: 50px;
}

.content-card1 {
  width: 96%;
  height: 200px;
  margin: 30px;
  border: 0.5px solid grey;
  box-shadow: 1px 2px 8px #ffffff;
 
}
.content-card1:hover {
  background: linear-gradient(90deg, #0093fc, #004469);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgb(255, 255, 255);
  box-shadow: 1px 2px 8px #0093fc;
}

.content-card1 p {
  margin: 20px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  text-decoration: none;
    color: #ffffff;
    border-radius: 0.5rem;
}
.content-card1 a {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0.5rem;
}
.content-card1 a:hover {
  background: linear-gradient(90deg, white, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px rgb(255, 255, 255);
}
.content-card1 h2 {
  margin: 20px;
  color: white;
}

.logo {
  height: 50px;
  width: 50px;
}
span {
  margin: 5px;
  margin-top: 25px;
}
.subheading {
  text-decoration: underline;
}

.certificate1 {
  width: 96%;
  margin: 30px;
  border: 0.5px solid grey;
  box-shadow: 1px 2px 8px #ffffff;
}
 .active {
  background: linear-gradient(90deg, #0093fc, #004469);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgb(255, 255, 255);
}